{% extends 'admin/admin.html.twig' %}

{% block title %}Hello ThemeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
   

  
    a {
        padding: 14px 16px;
        color: white;
        text-decoration: none;
        font-weight: 800;
    }

    a:hover {
        padding: 14px 16px;
        color: #E40039;
        text-decoration: none;
        font-weight: 800; 
    }
    .create {
        margin: auto;
        padding: 20px;
    }

    .theme {
        background-color: black;
        color: white;
        display: grid;
        grid-template-columns: 0.5fr 4fr 0.5fr;
        margin: 70px;
        grid-column-gap: 0px;
        grid-row-gap: 0px ;
        align-items: center; 
        }

    .col1 {
        background-color: black;
        
    }
    .col1 img {
        width: 150px;
        padding: 10px;
    }
    .col2 {
        background-color: black;
        border-bottom: solid;
    }
    .col3 {
        background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    }


.imagetheme{
    width: 300px;
    margin: auto;
    }
      
</style>
<div>
       
<p class="create">
    <a class="btn-create" href="{{ path('admin.theme.create') }}">
        Créer un nouveau thème
    </a>
</p>
<article>
    <div class="theme">
        
            {% for theme in themes %}
            
            <div class="col1">
            <p>
                {% if theme.thumbnail %}
                    <img class="imagetheme" src="{{ vich_uploader_asset(theme, 'thumbnailFile') }}" alt="Photo de {{ theme.name }}">
                    {% endif %}
                   
                </p>
            </div>
            <div class="col2">
                <a href="{{ path('admin.theme.show', {id: theme.id }) }}">
                    {{ theme.name }}

                </a>
            </div>
                       
                       
                      
            <div class="col3">
                <a class="btn btn-primary btn-sm" href="{{ path('admin.theme.edit', {id: theme.id}) }}">
                    Éditer
                </a>
                {#  <form action="{{ path('admin.theme.delete', {id: theme.id}) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-sm">
                            Supprimer
                        </button>
                    </form> #}
                </div>
                           
                    {% endfor %}
               
    </div>
           
        </article>
{% endblock %}
