{% extends 'admin/admin.html.twig' %}
{% block title "Thème : " ~ theme.name %}
{% block stylesheets %}
{{ parent() }}
<style>
   
 
    article{
        border-color: black;
        border: solid;
    }
    .themeemission {
    background-color: white;
        background-size: 100%;
        min-height: 100vh;
}
.bottom img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}
    </style>
{% endblock %}
{% block body %}

    <div>
    <h1>
        {{ theme.name }}
    </h1>
    
    <p>
        {% if theme.thumbnail %}
        <img src="{{ vich_uploader_asset(theme, 'thumbnailFile') }}" alt="Photo de {{ theme.name }}">
        {% endif %}
               
            </p>
            <div class="bottom">
            <img src="{{ asset('/images/top-content-dechire-D.gif') }}">
        </div></div>
    <div class="themeemission">
            <h2>
                Toutes les émissions de ce thème :
            </h2>
            {% for emission in theme.emissions | sort((a, b) => b.datepub <=> a.datepub) %}
            {% if emission.url %}
            <article>
                        <h3>
                            {{ emission.titre }} - {{ emission.categorie.titre }}
                        </h3>
                        <p>
                            {% if emission.thumbnail %}
                            <img src="{{ vich_uploader_asset(emission, 'thumbnailFile') }}" alt="Photo de {{ emission.titre }}">
                        {% endif %}
                            </p>
                        <p>
                            {{ emission.datepub|date('d-m-Y') }}
                            {{ emission.descriptif | raw }}
                        </p>
                        <p>
                        
                            <a href="{{ emission.url }}">
                                Écoutez l'émission
                            </a>
                            <a class="btn btn-primary btn-sm" href="{{ path('admin.emission.edit', {id: emission.id}) }}">
                                        Éditer
                                    </a>
                        </p>
            </article>
            {% endif %}
                         {% endfor %}
            
        
        
        
    {% endblock %}
    