{% extends 'admin/admin.html.twig' %}
{% block title %}
    Toutes les catégories !
{% endblock %}
{% block body %}
    <style>

.categorie {
    background-color: black;
    color: white;
    display: grid;
    margin: 40px 80px;
    align-items: center; 
    }
    
section {
    border: solid;
    display: grid;
    border-collapse: collapse;
    grid-template-columns: 1fr 4fr 0.5fr 0.5fr;
}

.pagination nav {
    background: transparent;
}

.col1 {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.col1 img {
    width: 150px;
    margin: 10px;
}

.col3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    padding: 10px;
}

a {
    padding: 14px 16px;
    color: white;
    text-decoration: none;
    font-weight: 800;
}

a:hover {
    padding: 14px 16px;
    color: #E40039;
    text-decoration: none;
    font-weight: 800; 
}


.titre {
    margin: 10px;
}

.date {
    padding: 10px;
}

.cat {
    padding: 10px;
}

.descriptif {
    padding: 10px;
    margin: 15px;
}

.url {
    text-align: right;
    padding: 10px;
}

.btn-create:hover {
    padding: 5px;
    background-color: #E40039;
    color: #000000;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    box-shadow: 3px 7px 13px #777777;
    -webkit-box-shadow: 3px 7px 13px #777777;
    -moz-box-shadow: 3px 7px 13px #777777;
}

.create {
    margin: auto;
    padding: 20px;
}
   
    </style>
    <div>
        <p class="create">
            <a class="btn-create" href="{{ path('admin.categorie.create') }}">
                Créer une nouvelle categorie
            </a>
        </p>
        <div class="pagination">
            {{ knp_pagination_render(categories) }}
        </div>
        <h1>
            Liste des catégories
        </h1>
        <article>
            <div class="categorie">
                
                    {% for row in categories %}
                        {% set categorie = row[0] %}
                        {% set total = row.total %}
                        {% if categorie.active %}
                            <section>
                            {% else %}
                                <section style="background-color:gray">
                                {% endif %}
                                <div class="col1">
                                    {% if categorie.thumbnail %}
                                        <img src="{{ vich_uploader_asset(categorie, 'thumbnailFile', 'App\\Entity\\Categories') }}" alt="Photo de {{ categorie.titre }}">
                                        {% endif %}
                                    </div>
                                    <div class="col2">
                                        <div class="titre">
                                            <a href="{{ path('admin.categorie.show', {id: categorie.id }) }}">
                                                {{ categorie.titre }} - {{ categorie.user ? categorie.user.username : 'Utilisateur inconnu' }}
                                            </a>
                                        </div>
                                        <div class="descriptif">
                                            {{ categorie.descriptif | raw }}
                                        </div>
                                    </div>
                                    <div class="col3">
                                        {% if total > 1 %}
                                            <p>
                                                {{ total }}
                                                émissions
                                            </p>
                                        {% elseif total == 1 %}
                                            <p>
                                                1 émission
                                            </p>
                                        {% else %}
                                            <p>
                                                Aucune émission
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="col4">
                                        <a href="#" data-controller="return" data-return-url-value="{{ path('admin.categorie.edit', { id: categorie.id }) }}" data-action="click->return#redirectWithReturnTo">
                                            Éditer
                                        </a>
                                        <form action="{{ path('admin.categorie.softDelete', { id: categorie.id }) }}" method="post">
                                            <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
                                                    <button type="submit" class="btn-action btn-delete">
                                                        Supprimer
                                                    </button>
                                                </form>
                                            </div>
                                        </section>
                                    {% endfor %}
                               
                            </div>
                        </article>
                        <div class="pagination">
                            {{ knp_pagination_render(categories) }}
                        </div>
                    {% endblock %}
                    