{% extends 'admin/admin.html.twig' %}

{% block title %}
    Toutes les catégories !
{% endblock %}

{% block body %}
<style>
    .bodyadmincategorie {
            background: linear-gradient(#E4013A, #B81C61);
            background-size: 100%;
            width: 100%;
            margin: 0%;
            padding: 0%;
           display: flex;
           flex-direction: column;
            font-family: "Montserrat Alternates", sans-serif;
            font-weight: 500;
            font-style: normal;
            }
            .top img{
                width: 100%;
            }
    .table {
        border-color: black;
        border: solid;
        
        }
    thead {
        border-color: black;
        border: solid;
        
    }
    th, tr, td {
        border-color: black;
        border: solid;
        
    }
    .table img {
        width: 100px;
    }
    a {
            padding: 14px 16px;
            color: #1C1C1A;
            text-decoration: none;
            font-weight: 800;
            
    }
    a:hover {
            padding: 14px 16px;
            color: #E40039;
            text-decoration: none;
            font-weight: 800;
            
    }
    
    
    </style>
    <div class="bodyadmincategorie">
<div class="top">
            <img src="{{ asset('/images/bottom-header.gif') }}"></div>
    <p>
        <a class="btn btn-primary btn-sm" href="{{ path('admin.categorie.create') }}">
            Créer une nouvelle categorie
        </a>
    </p>
    <article>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Noms
                    </th>
                    <th>
                        Nombre d'Émissions
                    </th>
                    <th style="width: 200px">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for categorie in categories %}
                    <tr>
                        {% if categorie.active %}
                        <td>
                            {% else %}
                            <td style="background-color:gray">
                        {% endif %}
                            <a href="{{ path('admin.categorie.show', {id: categorie.id }) }}">
                                {{ categorie.titre }}

                            </a>

                           
                            <p>
                                {% if categorie.thumbnail %}
                                    <img src="{{ vich_uploader_asset(categorie, 'thumbnailFile', 'App\\Entity\\Categories') }}" alt="Photo de {{ categorie.titre }}">
                                    {% endif %}
                                    {{ categorie.descriptif | raw }}
                                </p>
                            </td>
                            <td>
                                {{ categorie.total }}
                            </td>
                            <td>
                                <div class="d-flex gap-1">
                                    <a class="btn btn-primary btn-sm" href="{{ path('admin.categorie.edit', {id: categorie.id}) }}">
                                        Éditer
                                    </a>
                                    <form action="{{ path('admin.categorie.delete', {id: categorie.id}) }}" method="post">
                                        <input type="hidden" name="_method" value="DELETE">
                                            <button type="submit" class="btn btn-danger btn-sm">
                                                Supprimer
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(categories) }}
            </article>
        {% endblock %}
        