{% extends 'admin/admin.html.twig' %}

{% block title %}
    Toutes les catégories !
{% endblock %}

{% block body %}
    <style>
   
    .bodyadmincategorie {
        background: linear-gradient(#E4013A, #B81C61);
        background-size: 100%;
        width: 100%;
        margin: 0%;
        padding: 0%;
        display: flex;
        flex-direction: column;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 500;
        font-style: normal;
        }
    .top img{
        width: 100%;
    }
   
    .categorie {
        background-color: black;
        color: white;
        display: grid;
        margin: 70px;
        align-items: center; 
        }
        
       section {
        border: solid;
        display: grid;
        border-collapse: collapse;
        grid-template-columns: 1fr 4fr 0.5fr 0.5fr;
    }
   
    .col1 {
     
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
       
       
    }
    .col1 img {
        width: 150px;
        margin: 10px;
    }
    .col2 {
     
    }
    .col3 {
     
        display: flex;
        align-items: center;
        justify-content: center;
     
    }
    .col4 {
        display: flex;
        align-items: center;
        justify-content: center;
     
    }
 
    .img {
        padding: 10px;
    }

    a {
        padding: 14px 16px;
        color: white;
        text-decoration: none;
        font-weight: 800;
    }

    a:hover {
        padding: 14px 16px;
        color: #E40039;
        text-decoration: none;
        font-weight: 800; 
    }

    
    .titre {
        margin: 10px;
    }
    
    .date {
        padding: 10px;
    }

    .cat {
        padding: 10px;
    }

    .descriptif {
        padding: 10px;
        margin: 15px;
    }

    .url {
        text-align: right;
        padding: 10px;
    }
  

    .btn-create-categorie {
        text-decoration: none;
        padding: 5px;
        font-size: 1.2em;
        color: #000000;
        background-color: #ffffff;
        border-radius: 26px;
        -webkit-border-radius: 26px;
        -moz-border-radius: 26px;
        border: 4px solid black;
        box-shadow: 3px 7px 13px #444444;
        -webkit-box-shadow: 3px 7px 13px #444444;
        -moz-box-shadow: 3px 7px 13px #444444;
    }

    .btn-create-categorie:hover {
        padding: 5px;
        background-color: #E40039;
        color: #000000;
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        box-shadow: 3px 7px 13px #777777;
        -webkit-box-shadow: 3px 7px 13px #777777;
        -moz-box-shadow: 3px 7px 13px #777777;
    }

    .pagination {
        background-color: transparent;
        margin: auto;
        padding: 10px;
    }

    .pagination a:hover {
        padding: 14px 16px;
        color: grey;
        text-decoration: none;
        font-weight: 800;
    }
    .create {
        margin: auto;
        padding: 20px;
    }
   
    </style>
    <div class="bodyadmincategorie">
        <div class="top">
            <img src="{{ asset('/images/bottom-header.gif') }}"></div>

            <p class="create">
                <a class="btn-create-categorie" href="{{ path('admin.categorie.create') }}">
                    Créer une nouvelle categorie
                </a>
            </p>
            <div class="pagination">
                {{ knp_pagination_render(categories) }}
            </div>
            
            <article>
            <div class="categorie">

                    {% for categorie in categories %}

                        {% if categorie.active %}
                        <section>
                        {% else %}
                        
                        <section style="background-color:gray">
                        {% endif %}
                        <div class="col1">
                            {% if categorie.thumbnail %}
                                <img src="{{ vich_uploader_asset(categorie, 'thumbnailFile', 'App\\Entity\\Categories') }}" alt="Photo de {{ categorie.titre }}">
                                {% endif %}
                        </div>
                        <div class="col2">
                                <div class="titre">
                                    <a href="{{ path('admin.categorie.show', {id: categorie.id }) }}">
                                        {{ categorie.titre }}

                                    </a>
                                </div>
                                <div class="descriptif">
                                  
                                        {{ categorie.descriptif | raw }}
                                
                                </div>
                        </div>
                        <div class="col3">
                                    {% if categorie.total > 1 %}
                                    {{ categorie.total ~ ' émissions'}}
                                    {% else %}
                                    {{ categorie.total ~ ' émission'}}
                    {% endif %}
                        </div>
                            
                        <div class="col4">

                                <a class="btn btn-primary btn-sm" href="{{ path('admin.categorie.edit', {id: categorie.id}) }}">
                                    Éditer
                                </a>
                            {# <form action="{{ path('admin.categorie.delete', {id: categorie.id}) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">
                                Supprimer
                                </button>
                            </form> #}
                        </div>
                      
                    </section>
                         
                        {% endfor %}
                    </div>

                </article>
                <div class="pagination">
                    {{ knp_pagination_render(categories) }}
                </div>
            {% endblock %}
            