{% extends 'admin/admin.html.twig' %}
{% block title "Catégorie : " ~ categorie.titre %}
{% block body %}
    <style>

.titre {
    text-align: center;
    margin: 10px;
}

.emissionsdelacategorie {
    background-color: white;
    min-height: 100vh;
}
article{
    border: solid;
    border-collapse: collapse;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin: 0 80px;
}
.col1 {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col1 img {
        width: 150px;
        margin: 10px;
    }
    
    .col2 {
       margin: 20px;
    }
    .col3 {
        
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "ecoute dl"; 
    align-items: center;
    justify-self: center;
    }

.catdescriptif {
    margin: 15px;
}



.bottom img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}
.catemission img {
    width: 150px;
}
.catimg img {
    float: left;
    margin: 10px;
    width: 250px;
}
.ecoute img {
        width: 40px;
        height: 40px;
        align-content: right;
    }
    
    a {
        padding: 14px 16px;
        color: black;
        text-decoration: none;
        font-weight: 800;
    }

    a:hover {
        padding: 14px 16px;
        color: #E40039;
        text-decoration: none;
        font-weight: 800; 
    }


</style>
    <div>
        <div class="catblock">
            <div class="titre">
                <h1>
                    {{ categorie.titre }}
                </h1>
            </div>
            <div class="catimg">
                {% if categorie.thumbnail %}
                    <img src="{{ vich_uploader_asset(categorie, 'thumbnailFile') }}" alt="Photo de {{ categorie.titre }}">
                    {% endif %}
                </div>
                <div class="catdescriptif">
                    {{ categorie.descriptif | raw }}
                </div>
                <div class="bottom">
                    <img src="{{ asset('/images/top-content-dechire-D.gif') }}"></div>
                </div>
            </div>
            <div class="emissionsdelacategorie">
                <div class="titre">
                    <h2>
                        Toutes les émissions de cette catégorie :
                    </h2>
                </div>
                <div class="catemission">
                    {% if categorie.emissions is empty %}
                        <p>
                            Aucune émission disponible dans cette catégorie.
                        </p>
                    {% endif %}
                    {% for emission in categorie.emissions | sort((a, b) => b.datepub <=> a.datepub) %}
                        <article>
                            <div class="col1">
                                {% if emission.thumbnail %}
                                    <img src="{{ vich_uploader_asset(emission, 'thumbnailFile') }}" alt="Photo de {{ emission.titre }}">
                                    {% endif %}
                                </div>
                                <div class="col2">
                                    <h2>
                                        {{ emission.titre }}
                                    </h2>
                                    <p>
                                        {{ emission.datepub|date('d-m-Y') }}
                                        {{ emission.descriptif | raw }}
                                    </p>
                                </div>
                                <div class="col3">
                                    {% if emission.url %}
                                        <div class='ecoute'>
                                            <a href="{{ emission.url }}">
                                                <img src="{{ asset('/images/lecteur.png') }}" alt="écoutez l'émission"></a>
                                            </div>
                                        {% else %}
                                            <p>
                                                <div class='ecoute'>
                                                    Pas de fichier audio disponible
                                                </div>
                                            </p>
                                        {% endif %}
                                        {# Lien d'édition #}
                                        <a class="btn btn-primary btn-sm" href="{{ path('admin.emission.edit', { id: emission.id }) }}" data-controller="return" data-return-url-value="{{ path('admin.emission.edit', { id: emission.id }) }}" data-action="click->return#redirectWithReturnTo">
                                            Éditer
                                        </a>
                                        {# Suppression (si condition remplie) #}
                                        {% if is_granted('ROLE_SUPER_ADMIN') and categorie.id == 211 %}
                                            <form action="{{ path('admin.emission.delete', {id: emission.id}) }}" method="post">
                                                <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" class="btn-action btn-delete">
                                                        Supprimer
                                                    </button>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </article>
                                {% endfor %}
                            </div>
                        </div>
                    {% endblock %}
                    