{% extends 'admin/admin.html.twig' %}
{% block title "Catégorie : " ~ categorie.titre %}
{% block body %}

<style>
.catshow {
    padding: 50px;
}
.titre {
    text-align: center;
    margin: 10px;
}
h1 {
    font-size: 23px;  
}
article{
    border-color: black;
    border: solid;
    padding: 15px;
}

.catshow img {
    width: 150px;
}
.catemission {

}
.descriptif {
    margin: 15px;
}

</style>
<div class="catshow">
<div class="titre">
<h1>
    {{ categorie.titre }}
</h1>
</div>
<p>
    {% if categorie.thumbnail %}
    <img src="{{ vich_uploader_asset(categorie, 'thumbnailFile') }}" alt="Photo de {{ categorie.titre }}">
{% endif %}
<div class="catdescriptif">
{{ categorie.descriptif | raw }}
</div>
</div>
<div class="emissionsdelacategorie">
<div class="titre">
<h1>
    Toutes les émissions de cette catégorie :
</h1>
</div>
<div class="catemission">
{% for emission in categorie.emissions | sort((a, b) => b.datepub <=> a.datepub) %}

<article>
            <h1>
                {{ emission.titre }}
            </h1>
            <p>
            {% if emission.thumbnail %}
            <img src="{{ vich_uploader_asset(emission, 'thumbnailFile') }}" alt="Photo de {{ emission.titre }}">
        {% endif %}
            </p>
            <p>
                {{ emission.datepub|date('d-m-Y') }}
                {{ emission.descriptif | raw }}
            </p>
            {% if emission.url %}
            <p>
                <a href="{{ emission.url }}">
                    Écoutez l'émission
                </a>
                <a class="btn btn-primary btn-sm" href="{{ path('admin.emission.edit', {id: emission.id}) }}">
                                        Éditer
                                    </a>
            </p>
            {% else %}
            <p>
                
                Pas de fichier audio disponible
                <a class="btn btn-primary btn-sm" href="{{ path('admin.emission.edit', {id: emission.id}) }}">
                                    Éditer
                                </a>
            </a>
        </p>
        
    {% endif %}
</article>
{% endfor %}
</div>
</div>
    {% endblock %}
    