{% extends 'admin/admin.html.twig' %}
{% block title %}
    Validation des annonces auditeur
{% endblock %}
{% block body %}
    <style>
    .bodyadmincannonce {
        background: linear-gradient(#E4013A, #B81C61);
        background-size: 100%;
        width: 100%;
        margin: 0%;
        padding: 0%;
        display: flex;
        flex-direction: column;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 500;
        font-style: normal;
        }
    .top img{
        width: 100%;
    }
</style>
    <div class="bodyadmincannonce">
        <div class="top">
            <img src="{{ asset('/images/bottom-header.gif') }}"></div>
            <article>
            {% for annonce in annonces %}
            
                    <div class='type'>
                        <p>
                         Type d'évènement :   {{ annonce.type }}
                        </p>
                    </div>
                    <div class='titre'>
                        <p>
                            <a href="{{ path('admin.annonce.show', {id: annonce.id }) }}">
                            {{ annonce.titre }}

                                    </a>
                        </p>
                    </div>
                    <div class='orga'>
                        <p>
                            {{ annonce.organisateur }}
                        </p>
                    </div>
                    <div class='ville'>
                        <p>
                            {{ annonce.ville }}
                        </p>
                    </div>
                    <div class='departement'>
                        <p>
                            {{ annonce.departement }}
                        </p>
                    </div>
                    <div class='debutFin'>
                        <p>
                            {{ annonce.dateDebut|date('d/m/Y') }}
                            -
                            {{ annonce.dateFin|date('d/m/Y') }}
                            -
                            {{ annonce.horaire }}
                        </p>
                    </div>
                    <div class='presentation'>
                        <p>
                            {{ annonce.presentation | raw }}
                        </p>
                    </div>
                    
                    <a class="btn btn-primary btn-sm" href="{{ path('admin.annonce.edit', {id: annonce.id}) }}">
                                    Éditer
                                </a>
                                <form action="{{ path('admin.annonce.softDelete', {id: annonce.id}) }}" method="post">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" class="btn btn-danger btn-sm">
                                                    Supprimer
                                                    </button>
                </article>
                -----------------------------------------
                {% endfor %}
        </div>
    </div>
{% endblock %}
