{% extends 'admin/admin.html.twig' %}
{% block title %}
    Validation des annonces auditeur
{% endblock %}
{% block body %}
    <style>
    .bodyadminannonce {
        background: linear-gradient(#E4013A, #B81C61);
        background-size: 100%;
        width: 100%;
        margin: 0%;
        padding: 0%;
        display: flex;
        flex-direction: column;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 500;
        font-style: normal;
        }
    .top img{
        width: 100%;
    }
    .annonce {
        background-color: transparent;
        color: white;
        display: grid;
        margin: 40px 80px;
        align-items: center; 
        }
        section {
            border: solid;
            border-collapse: collapse;
            display: grid;
            grid-template-columns: 1fr 4fr 1fr;
            margin-bottom: 20px;
            background-color: black;
            
        }
        a {
        padding: 14px 16px;
        color: white;
        text-decoration: none;
        font-weight: 800;
    }

    a:hover {
        padding: 14px 16px;
        color: #E40039;
        text-decoration: none;
        font-weight: 800; 
    }

    .col1 {
            width: 150px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
        }
        .col1 img {
            width: 150px;
            margin: 10px;
            padding: 10px;

        }
        .col2 {
            padding: 10px;
         
    }
    
    .col3 {
    
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "ecoute dl"; 
    align-items: center;
    justify-self: center;
    padding: 10px;

    }
</style>
    <div class="bodyadminannonce">
        <div class="top">
            <img src="{{ asset('/images/bottom-header.gif') }}"></div>
            <article>
                <div class="annonce">
                    {% for annonce in annonces %}
                        {% if annonce.valid %}
                            <section>
                            {% else %}
                                <section style="background-color:gray">
                                {% endif %}
                                <div class="col1">
                                    {% if annonce.thumbnail %}
                                        <img src="{{ vich_uploader_asset(annonce, 'thumbnailFile') }}" alt="Photo de {{ annonce.titre }}">
                                        {% endif %}
                                    </div>
                                    <div class="col2">
                                        <div class='type'>
                                            <p>
                                                Type d'évènement :
                                                {{ annonce.type }}
                                            </p>
                                        </div>
                                        <div class='titre'>
                                            <p>
                                                <a href="{{ path('admin.annonce.show', {id: annonce.id }) }}">
                                                    {{ annonce.titre }}
                                                </a>
                                            </p>
                                        </div>
                                        <div class='orga'>
                                            <p>
                                                {{ annonce.organisateur }}
                                            </p>
                                        </div>
                                        <div class='ville'>
                                            <p>
                                                {{ annonce.ville }}
                                            </p>
                                        </div>
                                        <div class='departement'>
                                            <p>
                                                {{ annonce.departement }}
                                            </p>
                                        </div>
                                        <div class='debutFin'>
                                            <p>
                                                {{ annonce.dateDebut|date('d/m/Y') }}
                                                -
                                                {{ annonce.dateFin|date('d/m/Y') }}
                                                -
                                                {{ annonce.horaire }}
                                            </p>
                                        </div>
                                        <div class='presentation'>
                                            <p>
                                                {{ annonce.presentation | raw }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col3">
                                        <a class="btn btn-primary btn-sm" href="{{ path('admin.annonce.edit', {id: annonce.id}) }}">
                                            Éditer
                                        </a>
                                        
                                                {% if annonce.valid %}
                                                    <form action="{{ path('admin.annonce.unvalid', {id: annonce.id}) }}" method="post">
                                                        <button type="submit" class="btn btn-danger btn-sm">
                                                            Dévalider
                                                        </button>
                                                    </form>
                                                {% else %}
                                                    <form action="{{ path('admin.annonce.valid', {id: annonce.id}) }}" method="post">
                                                        <button type="submit" class="btn btn-danger btn-sm">
                                                            Valider
                                                        </button>
                                                    </form>
                                                {% endif %}

                                                <form action="{{ path('admin.annonce.softDelete', {id: annonce.id}) }}" method="post">
                                            <input type="hidden" name="_method" value="DELETE">
                                                <button type="submit" class="btn btn-danger btn-sm">
                                                    Supprimer
                                                </button>
                                        </form>
                                                
                                            </div>
                                        </section>
                                    {% endfor %}
                                </div>
                            </article>
                        </div>
                    {% endblock %}
                    