{% extends 'admin/admin.html.twig' %}
{% block title "Annonce : " ~ annonce.titre %}
{% block body %}
    <style>
.anshow {
    background: linear-gradient(#E4013A, #B81C61);
    background-size: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
    position: relative;
    color: white;
    min-height: 100vh;
}
.titre {
    text-align: center;
    margin: 10px;
}
h1 {
    font-size: 23px;  
}
article{
    border: solid;
    border-collapse: collapse;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin: 0 80px;
}
.col1 {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col1 img {
        width: 150px;
        margin: 10px;
    }
    
    .col2 {
       margin: 20px;
    }
    .col3 {
        
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "ecoute dl"; 
    align-items: center;
    justify-self: center;
    }

.andescriptif {
    margin: 15px;
}
.top img{
    width: 100%;
}
.bottom img{
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}

.catimg img {
    float: left;
    margin: 10px;
    width: 250px;
}

    
    a {
        padding: 14px 16px;
        color: black;
        text-decoration: none;
        font-weight: 800;
    }

    a:hover {
        padding: 14px 16px;
        color: #E40039;
        text-decoration: none;
        font-weight: 800; 
    }

</style>
    <div class="anshow">
        <div class="top">
            <img src="{{ asset('/images/bottom-header.gif') }}"></div>
            <div class="anblock">
            
            <div class="titre">
                <h1>
                    {{ annonce.titre }}
                </h1>
            </div>
            <div class="catimg">
                {% if annonce.thumbnail %}
                    <img src="{{ vich_uploader_asset(annonce, 'thumbnailFile') }}" alt="Photo de {{ annonce.titre }}">
                    {% endif %}
                </div>
                <div class="andescriptif">
                    {{ annonce.presentation | raw }}
                </div>

                
            </div>

                
                                    </div>
                                
                            </article>
                       
                    </div>
                </div>
            {% endblock %}
            