{% extends 'admin/admin.html.twig' %}

{% block title %}Diffusion{% endblock %}

{% block body %}
    <h1>Diffusion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ diffusion.id }}</td>
            </tr>
            <tr>
                <th>HoraireDiffusion</th>
                <td>{{ diffusion.horaireDiffusion ? diffusion.horaireDiffusion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NombreDiffusion</th>
                <td>{{ diffusion.nombreDiffusion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin.diffusion.index') }}">back to list</a>

    <a href="{{ path('admin.diffusion.edit', {'id': diffusion.id}) }}">edit</a>

    {{ include('admin/diffusion/_delete_form.html.twig') }}
{% endblock %}
