{% extends 'admin/admin.html.twig' %}
{% block title %}
    Toutes les émissions !
{% endblock %}
{% block body %}
    <style>
       .emissions {
        background-color: black;
        color: white;
        display: grid;
        margin: 40px 80px;
        align-items: center; 
        }

        section {
        border: solid;
        border-collapse: collapse;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
    }
    .col1 {
        width: 150px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .col1 img {
        width: 150px;
        margin: 10px;
    }
    .col2 {
       
    }
    .col3 {
        background-color: black;
        display: grid;
        grid-template-columns: auto auto;  /* Changé pour auto auto */
        gap: 10px;
        align-items: center;
        padding: 10px;
    }

    .ecoute {
        justify-self: start;  /* Aligne à gauche */
    }

   
    .img {
        padding: 10px;
    }

    a {
        padding: 14px 16px;
        color: white;
        text-decoration: none;
        font-weight: 800;
    }
    .btn-action {
        width: 100%;
        text-align: center;
    }

    a:hover {
        padding: 14px 16px;
        color: #E40039;
        text-decoration: none;
        font-weight: 800; 
    }

    .texte {
        width: fit-content;
        color: white;
        margin: 20px;
    }
    
    .titre {
        margin: 10px;
    }
    
    .date {
        padding: 10px;
    }

    .cat {
        padding: 10px;
    }

    .descriptif {
        padding: 10px;
    }

    .url {
        text-align: right;
        padding: 10px;
    }

    .ecoute img {
        width: 40px;
        height: 40px;
        align-content: right;
    }

    .create {
        margin: auto;
        padding: 20px;
    }



</style>
    <div>
     
            <p class="create">
                <a class="btn-create" href="{{ path('admin.emission.create') }}">
                    Créer une nouvelle émission
                </a>
            </p>
            <div class="pagination">
                {{ knp_pagination_render(emissions) }}
            </div>
            <article>
                <div class="emissions">
                    {% for emission in emissions %}
                        <section>
                            <div class="col1">
                                {% if emission.thumbnail %}
                                    <img
                                    src="{{ vich_uploader_asset(emission, 'thumbnailFile') }}" alt="Photo de {{ emission.titre }}">
                                        {% elseif  emission.categorie.thumbnail %}
                                        <img
                                        src="{{ vich_uploader_asset(emission.categorie, 'thumbnailFile', 'App\\Entity\\Categories') }}" alt="Photo de {{ emission.titre }}">
                                            {% elseif emission.theme.thumbnail is defined %}
                                            <img
                                            src="{{ vich_uploader_asset(emission.theme, 'thumbnailFile', 'App\\Entity\\Theme') }}" alt="Photo de {{ emission.titre }}">
                                                {% else %}
                                                <img src="{{ asset('/images/emission-zinzine.jpg') }}">
                                                {% endif %}
                                            </div>
                                            <div class="col2">
                                                <div class="titre">
                                                    <a href="{{ path('admin.emission.show', {id: emission.id }) }}">
                                                        {{ emission.titre }} - {% if emission.user is null %} pas de user {% else %} {{ emission.user.username }} {% endif %}
                                                    </a>
                                                </div>
                                                <div class="cat">
                                                    <p>
                                                        {{ emission.categorie.titre }}
                                                    </p>
                                                </div>
                                                <div class="descriptif">
                                                    <p>
                                                        {{ emission.descriptif | raw }}
                                                    </p>
                                                </div>
                                                <p>
                                                    {{ 'Horaires de passages : ' ~ emission.datepub| format_datetime ('medium', 'short', locale = 'fr') }}
                                                </p>
                                            </div>
                                            <div class="col3">
                                                <div class='ecoute'>
                                                    <a href="{{ emission.url }}">
                                                        <img src="{{ asset('/images/lecteur.png') }}" alt="écoutez l'émission"></a>
                                                    </div>
                                                    <div class="actions-buttons">
                                                    {% if is_granted('ROLE_ADMIN') or emission.user == app.user %}
                                                    <a class="btn-action" href="{{ path('admin.emission.edit', {id: emission.id}) }}">
                                                        Modifier
                                                    </a>
                                                {% endif %}
                                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <form action="{{ path('admin.emission.delete', {id: emission.id}) }}" method="post">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" class="btn-action btn-delete">
                                                    Supprimer
                                                    </button>
                                                    
                                                </form>
                                            {% endif %}
                                                </div>
                                            </div>
                                            </section>
                                        {% endfor %}
                                    </div>
                                </article>
                                <div class="pagination">
                                    {{ knp_pagination_render(emissions) }}
                                </div>
                            {% endblock %}
                            