{% extends 'admin/admin.html.twig' %}

{% block title %}
    Toutes les émissions !
{% endblock %}

{% block body %}

    <p>
        <a class="btn btn-primary btn-sm" href="{{ path('admin.emission.create') }}">
            Créer une nouvelle émission
        </a>
    </p>
    <article>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        {{ knp_pagination_sortable(emissions, 'Titre', 'r.titre') }}
                    </th>
                    
                    
                    <th style="width: 200px">
                        Actions
                    </th>

                </tr>
            </thead>
            <tbody>
                {% for emission in emissions %}
                    <tr>
                        <td>
                            <a href="{{ path('admin.emission.edit', {id: emission.id }) }}">
                                {{ emission.titre }}
                            </a>
                            <p>
                                {{ emission.categorie.titre }}
                            </p>
                            <p>
                                {{ emission.descriptif }}
                            </p>
                            <p>
                                <a href="{{ emission.url }}">
                                    Écoutez l'émission
                                </a>
                            </p>
                        </td>
                        

                        <td>
                            <div class="d-flex gap-1">
                                <a class="btn btn-primary btn-sm" href="{{ path('admin.emission.edit', {id: emission.id}) }}">
                                    Éditer
                                </a>
                                <form action="{{ path('admin.emission.delete', {id: emission.id}) }}" method="post">
                                    <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit" class="btn btn-danger btn-sm">
                                            Supprimer
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(emissions) }}
        </article>
    {% endblock %}
    