{% extends 'admin/admin.html.twig' %}
{% block title "Émission : " ~ emission.titre %}
{% block body %}
    <style>
  
.titre {
    text-align: center;
    margin: 10px;
}

.texteemission {
    margin: 20px;
}

.texteemission img {
    float: left;
    margin: 10px;
    width: 250px;
}
.catemission {
    background-color: white;
        background-size: 100%;
        color: black;
        min-height: 100vh;
}
.catemission img {
    float: right;
    margin: 10px;
    width: 250px;
}
.descriptif {
    margin: 15px;
}
.bottom img {
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}
.texteemission a img {
    width: 60px;
        
}

.texteemission a {
    padding: 14px 16px;
    color: white;
    text-decoration: none;
    font-weight: 800;
        
}
.texteemission a:hover {
    padding: 14px 16px;
    color: black;
    text-decoration: none;
    font-weight: 800;
        
}

.catemission a {
    padding: 14px 16px;
    color: black;
    text-decoration: none;
    font-weight: 800;
        
}
.catemission .titre h1 {

color: #E40039;
 
        
}
.catemission a:hover {
    padding: 14px 16px;
    color: #E40039;
    text-decoration: none;
    font-weight: 800;
        
}

.bottom img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}
    
</style>
    <div>
        <div class="texteemission">
            <div class="titre">
                <h1>
                    {{ emission.titre }}
                </h1>
            </div>
            {% if emission.thumbnail %}
                <img src="{{ vich_uploader_asset(emission, 'thumbnailFile') }}" alt="Photo de {{ emission.titre }}">
                {% endif %}
                <div class="descriptif">
                    {{ emission.descriptif  | raw }}
                </div>
                <p>
                    {{ "Dernière rediffusion le " ~ emission.datepub| format_datetime ('medium', 'short', locale = 'fr') }}
                </p>
                <p>
                    <a href="{{ emission.url }}">
                        <img src="{{ asset('images/lecteur.png') }}" alt="écoutez l'émission"></a>
                        <a class="btn btn-primary btn-sm" href="{{ path('admin.emission.edit', { id: emission.id }) }}" data-controller="return" data-return-url-value="{{ path('admin.emission.edit', { id: emission.id }) }}" data-action="click->return#redirectWithReturnTo">
                            Éditer
                        </a>
                    </p>
                </div>
                <div class="bottom">
                    <img src="{{ asset('images/top-content-dechire-D.gif') }}"></div>
                </div>
                <div class="catemission">
                    <div class="titre">
                        <h1>
                            {{ emission.categorie.titre }}
                        </h1>
                    </div>
                    <p>
                        {% if emission.categorie.thumbnail %}
                            <img src="{{ vich_uploader_asset(emission.categorie, 'thumbnailFile', 'App\\Entity\\Categories') }}" alt="Photo de {{ emission.categorie.titre }}">
                            {% endif %}
                            <div class="descriptif">
                                {{ emission.categorie.descriptif | raw }}
                            </div>
                        </p>
                        <a class="btn btn-primary btn-sm" href="{{ path('admin.categorie.edit', {id: emission.categorie.id}) }}">
                            Éditer
                        </a>
                    </div>
                </div>
            {% endblock %}
            