<style>
   
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: white;
        overflow: hidden;
    }

    li {
        text-align: center;
        display: inline;
        vertical-align: middle;
    }
        
    li a {
            padding: 14px 16px;
            color: #1C1C1A;
            text-decoration: none;
            font-weight: 800;
    }
    li a:hover, .dropbtn:hover {
            padding: 14px 16px;
            color: #E40039;
            text-decoration: none;
            font-weight: 800;
    }

    nav {
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 1.6em;
        justify-content: center;
    }



    button.dropbtn {
        background-color: white;
        font-family: "Montserrat Alternates", sans-serif;
        color: #1C1C1A;
        padding: 14px 16px;
        font-size: 1.1em;
        font-weight: 800;
        border: none;
        cursor: pointer;
    }

    div.dropdown div.dropdown-content{
    display: none;
    }

    .dropdown {
       
        display: inline-block;
    }

    div.dropdown:hover div.dropdown-content{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: white;
        width: inherit;
        }

    

    @media (min-width: 1200px) {
       
    }
    
    </style>

<nav>
    <img src="{{ asset('/images/logo.gif') }}">
            <div >
                
                   
                
                <div>
                    <ul >
                        <li >
                            <a class="nav-link {{ app.current_route == 'admin.' ? 'active' : '' }}" href="{{ path('admin.index') }}">
                                Accueil
                            </a>
                        </li>
                        <li>
                        <img src="{{ asset('/images/puce-rond-rouge.gif') }}"></li>
                        <li>
                        <div class="dropdown">
                            <button class="dropbtn">Gestion des émissions</button>
                            <div class="dropdown-content">
                                <a class="nav-link {{ app.current_route starts with 'admin.emission.' ? 'active' : '' }}" href="{{ path('admin.emission.index') }}">
                                    Émissions
                                </a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="nav-link {{ app.current_route starts with 'admin.categorie.' ? 'active' : '' }}" href="{{ path('admin.categorie.index') }}">
                                    Catégories
                                </a>
                                <a class="nav-link {{ app.current_route starts with 'admin.theme.' ? 'active' : '' }}" href="{{ path('admin.theme.index') }}">
                                    Thèmes
                                </a>
                                <a class="nav-link {{ app.current_route starts with 'admin.editeur.' ? 'active' : '' }}" href="{{ path('admin.editeur.index') }}">
                                    Éditeurs
                                </a>
                                <a class="nav-link {{ app.current_route starts with 'admin.InviteOldAnimateur.' ? 'active' : '' }}" href="{{ path('admin.InviteOldAnimateur.index') }}">
                                    Invité/animateur
                                </a>
                            {% endif %}
                            </div>
                        </li>
                        {% if is_granted('ROLE_EDITOR') %}
                        <li>
                        <img src="{{ asset('/images/puce-rond-rouge.gif') }}"></li>
                        <li><a class="nav-link {{ app.current_route starts with 'admin.annonce.' ? 'active' : '' }}" href="{{ path('admin.annonce.index') }}">
                        Annonces
                    </a></li>
                    <li>
                    <img src="{{ asset('/images/puce-rond-rouge.gif') }}"></li>

                    <li>
                        <a class="nav-link {{ app.current_route starts with 'admin.evenement.' ? 'active' : '' }}" href="{{ path('admin.evenement.index') }}">
                            Évènements
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <img src="{{ asset('/images/puce-rond-rouge.gif') }}">
                    </li>
                    <li>
                        <a class="nav-link {{ app.current_route starts with 'admin.user.' ? 'active' : '' }}" href="{{ path('admin.user.index') }}">
                            Utilisateurs
                        </a>
                    </li>
                {% endif %}

                    {# 
                    
                     <li>
                            <a class="nav-link {{ app.current_route starts with 'admin.theme.' ? 'active' : '' }}" href="{{ path('admin.theme.index') }}">
                                Thèmes
                            </a>
                        </li>
                        <li>
                        <img src="{{ asset('/images/puce-rond-rouge.gif') }}"></li>
                        <li>
                            <a class="nav-link {{ app.current_route starts with 'admin.editeur.' ? 'active' : '' }}" href="{{ path('admin.editeur.index') }}">
                                Éditeurs
                            </a>
                        </li>
                        <li>
                        <img src="{{ asset('/images/puce-rond-rouge.gif') }}"></li>
                        <li>
                            <a class="nav-link {{ app.current_route starts with 'admin.InviteOldAnimateur.' ? 'active' : '' }}" href="{{ path('admin.InviteOldAnimateur.index') }}">
                                Invité/animateur
                            </a>
                        </li> #}
                    </ul>
                </div>
            </div>
        </nav>