<style>
   
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: white;
        overflow: hidden;
    }

    li {
        text-align: center;
        display: inline;
        vertical-align: middle;
    }
        
    li a {
            padding: 14px 16px;
            color: #1C1C1A;
            text-decoration: none;
            font-weight: 800;
    }
    li a:hover, .dropbtn:hover {
            padding: 14px 16px;
            color: #E40039;
            text-decoration: none;
            font-weight: 800;
    }

    nav {
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 1.6em;
        justify-content: center;
    }

    nav h1 {
        font-size: 31pt;
        padding: 10px;
    }

    button.dropbtn {
        background-color: white;
        font-family: "Montserrat Alternates", sans-serif;
        color: #1C1C1A;
        padding: 14px 16px;
        font-size: 1.1em;
        font-weight: 800;
        border: none;
        cursor: pointer;
    }

    div.dropdown div.dropdown-content{
    display: none;
    }

    .dropdown {
       
        display: inline-block;
    }

    div.dropdown:hover div.dropdown-content{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: white;
        width: inherit;
        }

    

    @media (min-width: 1200px) {
       
    }
    
    </style>

<nav>
    <img src="{{ asset('/images/logo.gif') }}">
            <div >
                
                    <h1>Administration</h1>
                
                <div>
                    <ul >
                        <li >
                            <a class="nav-link {{ app.current_route == 'home' ? 'active' : '' }}" href="{{ path('home') }}">
                                Accueil
                            </a>
                        </li>
                        <li>
                        <img src="{{ asset('/images/puce-rond-rouge.gif') }}"></li>
                        <li>
                        <div class="dropdown">
                            <button class="dropbtn">Gestion des émissions</button>
                            <div class="dropdown-content">
                                <a class="nav-link {{ app.current_route starts with 'admin.emission.' ? 'active' : '' }}" href="{{ path('admin.emission.index') }}">
                                    Émissions
                                </a>
                                <a class="nav-link {{ app.current_route starts with 'admin.categorie.' ? 'active' : '' }}" href="{{ path('admin.categorie.index') }}">
                                    Catégories
                                </a>
                                <a class="nav-link {{ app.current_route starts with 'admin.theme.' ? 'active' : '' }}" href="{{ path('admin.theme.index') }}">
                                    Thèmes
                                </a>
                                <a class="nav-link {{ app.current_route starts with 'admin.editeur.' ? 'active' : '' }}" href="{{ path('admin.editeur.index') }}">
                                    Éditeurs
                                </a>
                                <a class="nav-link {{ app.current_route starts with 'admin.InviteOldAnimateur.' ? 'active' : '' }}" href="{{ path('admin.InviteOldAnimateur.index') }}">
                                    Invité/animateur
                                </a>
                            </div>
                        </li>
                        <li>
                        <img src="{{ asset('/images/puce-rond-rouge.gif') }}"></li>
                        <li><a class="nav-link {{ app.current_route starts with 'admin.annonce.' ? 'active' : '' }}" href="{{ path('admin.annonce.index') }}">
                        Annonces
                    </a></li>
                    {# 
                        
                        <li>
                        <li>
                            <a class="nav-link {{ app.current_route starts with 'admin.categorie.' ? 'active' : '' }}" href="{{ path('admin.categorie.index') }}">
                                Catégories
                            </a>
                        </li>
                        <li>
                        <img src="{{ asset('/images/puce-rond-rouge.gif') }}"></li>
                        
                        <li>
                            <a class="nav-link {{ app.current_route starts with 'admin.theme.' ? 'active' : '' }}" href="{{ path('admin.theme.index') }}">
                                Thèmes
                            </a>
                        </li>
                        <li>
                        <img src="{{ asset('/images/puce-rond-rouge.gif') }}"></li>
                        <li>
                            <a class="nav-link {{ app.current_route starts with 'admin.editeur.' ? 'active' : '' }}" href="{{ path('admin.editeur.index') }}">
                                Éditeurs
                            </a>
                        </li>
                        <li>
                        <img src="{{ asset('/images/puce-rond-rouge.gif') }}"></li>
                        <li>
                            <a class="nav-link {{ app.current_route starts with 'admin.InviteOldAnimateur.' ? 'active' : '' }}" href="{{ path('admin.InviteOldAnimateur.index') }}">
                                Invité/animateur
                            </a>
                        </li> #}
                    </ul>
                </div>
            </div>
        </nav>