{% extends 'base.html.twig' %}
{% block title %}
    Annonces des auditeurices !
{% endblock %}
{% block body %}
    <style>
    .bodyannonces {
        background: linear-gradient(#E4013A, #B81C61);
        background-size: 100%;
        width: 100%;
        margin: 0%;
        padding: 0%;
       display: flex;
       flex-direction: column;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 24px;
        position: relative;
    min-height: 100vh;
        }
        .top img{
        width: 100%;
    }
    .annonce {
        background-color: black;
        color: white;
        display: grid;
        margin: 40px 80px;
        align-items: center; 
        }

        .col1 {
            width: 150px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .col1 img {
            width: 150px;
            margin: 10px;
        }
    .create {
        margin: auto;
        padding: 20px;
    }

    .btn-create-annonce {
        text-decoration: none;
        padding: 5px;
        font-size: 1.2em;
        color: #000000;
        background-color: #ffffff;
        border-radius: 26px;
        -webkit-border-radius: 26px;
        -moz-border-radius: 26px;
        border: 4px solid black;
        box-shadow: 3px 7px 13px #444444;
        -webkit-box-shadow: 3px 7px 13px #444444;
        -moz-box-shadow: 3px 7px 13px #444444;
    }

    .btn-create-annonce:hover {
        padding: 5px;
        background-color: #E40039;
        color: #000000;
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        box-shadow: 3px 7px 13px #777777;
        -webkit-box-shadow: 3px 7px 13px #777777;
        -moz-box-shadow: 3px 7px 13px #777777;
    }

    </style>
    <div class="bodyannonces">
        <div class="top">
            <img src="{{ asset('/images/bottom-header.gif') }}"></div>
            "Annonces des auditeurices"
            <p class="create">
                <a class="btn-create-annonce" href="{{ path('annonce.create') }}">
                    Créer une nouvelle annonce
                </a>
            </p>
            <article>
                <div class="annonce">
                    {% for annonce in annonces %}
                        <div class="col1">
                            {% if annonce.thumbnail %}
                                <img src="{{ vich_uploader_asset(annonce, 'thumbnailFile') }}" alt="Photo de {{ annonce.titre }}">
                                {% endif %}
                            </div>
                            <div class="col2">
                                <div class='type'>
                                    <p>
                                        {{ annonce.type }}
                                    </p>
                                </div>
                                <div class='titre'>
                                    <p>
                                        {{ annonce.titre }}
                                    </p>
                                </div>
                                <div class='orga'>
                                    <p>
                                        {{ annonce.organisateur }}
                                    </p>
                                </div>
                                <div class='ville'>
                                    <p>
                                        {{ annonce.ville }}
                                    </p>
                                </div>
                                <div class='departement'>
                                    <p>
                                        {{ annonce.departement }}
                                    </p>
                                </div>
                                <div class='debutFin'>
                                    <p>
                                        {{ annonce.dateDebut|date('d/m/Y') }}
                                        -
                                        {{ annonce.dateFin|date('d/m/Y') }}
                                        -
                                        {{ annonce.horaire }}
                                    </p>
                                </div>
                                <div class='presentation'>
                                    <p>
                                        {{ annonce.presentation | raw }}
                                    </p>
                                </div>
                            </div>
                            -----------------------------------------
                        {% endfor %}
                    </div>
                </article>
            </div>
        </div>
    {% endblock %}
    