{% extends 'base.html.twig' %}
{% block title %}
    Créer une nouvelle annonce
{% endblock %}
{% block body %}
    <style>
    .bodyannonces {
        background: linear-gradient(#E4013A, #B81C61);
        background-size: 100%;
        width: 100%;
        margin: 0%;
        padding: 0%;
       display: flex;
       flex-direction: column;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 24px;
        position: relative;
    min-height: 100vh;
        }
        .top img{
        width: 100%;
    }
    
    </style>
    <div class="bodyannonces">
        <div class="top">
            <img src="{{ asset('/images/bottom-header.gif') }}"></div>
            <h1>
                Créer une nouvelle annonce
            </h1>
            {{ form_start (form) }}
            {{ form_row (form.titre) }}
            {{ form_row (form.type) }}
            {{ form_row (form.organisateur) }}
            {{ form_row (form.ville) }}
            {{ form_row (form.departement) }}
            {{ form_row (form.adresse) }}
            {{ form_row (form.dateDebut) }}
            {{ form_row (form.dateFin) }}
            {{ form_row (form.horaire) }}
            {{ form_row (form.prix) }}
            {{ form_row (form.presentation) }}
            {{ form_row (form.contact) }}
            {{ form_end (form) }}
        </div>
    {% endblock %}
    