{% extends 'base.html.twig' %}
{% block title " Toutes les émissions " %}
{% block body %}
    <style>
    .bodyemissions {
        background: linear-gradient(#E4013A, #B81C61);
        background-size: 100%;
        width: 100%;
        margin: 0%;
        padding: 0%;
        display: flex;
        flex-direction: column;
        font-weight: normal;
        font-style: normal;
        position: relative;
        }
        strong {
            font-weight: 700 !important;
        }
        em {
            font-style: italic !important;
        }

    .top img{
        width: 100%;
    }

    .img {
        padding: 10px;
        float: left;
        
    }
   
    a {
        padding: 14px 16px;
        color: white;
        text-decoration: none;
        font-weight: 800;
            
    }
    a:hover {
    color: #E40039;
            
    }
    .texte {
        width: fit-content;
        color: white;
        margin: 20px;
    }
    .titre {
        padding: 10px;
        
    }
    .date {
        padding: 10px;
    }
    .cat {
        padding: 10px;
    }
  .descriptif-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease;
}

.descriptif-content.expanded {
  -webkit-line-clamp: unset;
}

.descriptif-toggle-btn {
  background: none;
  color: #E40039;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 0.5em;
}



    .url {
        text-align: right;
        padding: 10px;
    }
    .dl img {
        width: 40px;
        height: 40px;
        align-content: right;
    }
    .ecoute img {
        width: 40px;
        height: 40px;
        align-content: right;
    }
    .pagination {
        background-color: transparent;
        margin: auto;
        padding: 10px;
    }

    .pagination a:hover {
        padding: 14px 16px;
        color: grey;
        text-decoration: none;
        font-weight: 800;
    }
    .emissions {
        background-color: black;
        color: white;
        display: grid;
        margin: 80px;
        align-items: center; 
        }

        section {
            border: solid;
        border-collapse: collapse;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        }
    .col1 {
        width: 150px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    .col1 img {
        width: 150px;
        padding: 10px;
    }
    .col2 {
       
    }
    .col3 {
        background-color: black;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "ecoute dl"; 
    align-items: center;
    justify-self: center;
    }
    
    
    </style>
    <div class="bodyemissions">
        <div class="top">
            <img src="{{ asset('/images/bottom-header.gif') }}" alt="Bannière résultats"></div>
            <div class="pagination">
                {{ knp_pagination_render(emissions) }}
            </div>
            <div class="emissions">
                {% for emissionData in emissions %}
                    {% set emission = emissionData[0] %}
                    {% set lastDiffusion = emissionData.lastDiffusion %}
                    <section>
                        <div class="col1">
                            {% set imageUrl = null %}
                            {% if emission.thumbnail %}
                                {% set imageUrl = vich_uploader_asset(emission, 'thumbnailFile') %}
                            {% elseif emission.categorie.thumbnail is defined and emission.categorie.thumbnail %}
                                {% set imageUrl = vich_uploader_asset(emission.categorie, 'thumbnailFile', 'App\\Entity\\Categories') %}
                            {% elseif emission.theme is defined and emission.theme.thumbnail is defined and emission.theme.thumbnail %}
                                {% set imageUrl = vich_uploader_asset(emission.theme, 'thumbnailFile', 'App\\Entity\\Theme') %}
                            {% else %}
                                {% set imageUrl = asset('/images/emission-zinzine.jpg') %}
                            {% endif %}
                            <img src="{{ imageUrl }}" alt="Illustration de {{ emission.titre }}"></div>
                            <div class="col2">
                                <div class="titre">
                                    <a href="{{ path('emission.show', {id: emission.id }) }}">
                                        {{ emission.titre }}
                                    </a>
                                </div>
                                <div class="cat">
                                    <p>
                                        {{ emission.categorie.titre }}
                                        {% if emission.theme.name is defined %}
                                            -
                                            {{ emission.theme.name }}
                                        {% endif %}
                                    </p>
                                </div>
                                <div data-controller="descriptif">
                                    <div data-descriptif-target="content" class="descriptif-content">
                                        <p>
                                            {{ emission.descriptif|raw }}
                                        </p>
                                    </div>
                                    <button data-action="click->descriptif#toggle" data-descriptif-target="button" class="descriptif-toggle-btn" hidden>
                                        Lire la suite
                                    </button>
                                </div>
                                {% if lastDiffusion %}
                                    <div class="date">
                                        Dernière diffusion :
                                        {{ lastDiffusion|format_datetime('medium', 'short', locale='fr') }}
                                    </div>
                                {% else %}
                                    <div class="date">
                                        Date de publication :
                                        {{ emission.datepub|format_datetime('medium', 'short', locale='fr') }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col3">
                                <div class="ecoute">
                                    <a href="{{ emission.url }}" target="_blank">
                                        <img src="{{ asset('/images/lecteur.png') }}" alt="Écoutez l'émission"></a>
                                    </div>
                                    <div class="dl">
                                        <a href="{{ emission.url }}" download target="_blank">
                                            <img src="{{ asset('/images/telecharger.png') }}" alt="Télécharger l'émission"></a>
                                        </div>
                                    </div>
                                </section>
                            {% endfor %}
                        </div>
                        <div class="pagination">
                            {{ knp_pagination_render(emissions) }}
                        </div>
                    </div>
                {% endblock %}
                