{% extends 'base.html.twig' %}

{% block title " Toutes les émissions " %}

{% block body %}


<style>
    .bodyemissions {
        background: linear-gradient(#E4013A, #B81C61);
        background-size: 100%;
        width: 100%;
        margin: 0%;
        padding: 0%;
       display: flex;
       flex-direction: column;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 700;
        font-style: normal;
        }
        .top img{
            width: 100%;
        }

    .table {
        border-color: black;
        border: solid;
        
        }
    thead {
        border-color: black;
        border: solid;
        
    }
    th, tr, td {
        border-color: black;
        border: solid;
        
        }
     .table img {
            width: 100px;
        }
    
    
    </style>

    <div class="bodyemissions">
    <div class="top">
            <img src="{{ asset('/images/bottom-header.gif') }}">
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        {{ knp_pagination_sortable(emissions, 'Titre', 'r.titre') }}
                    </th>

                </tr>
            </thead>
            <tbody>
                {% for emission in emissions %}
                    <tr>
                        <td>
                            <a href="{{ path('emission.show', {id: emission.id }) }}">
                                {{ emission.titre }}
                            </a>
                            -
                            {{ emission.datepub|date('d-m-Y') }}
                            <p>
                                {{ emission.categorie.titre }}
                            </p>
                            <p>
                                {% if emission.thumbnail %}
                                    <img src="{{ vich_uploader_asset(emission, 'thumbnailFile') }}" alt="Photo de {{ emission.titre }}">
                                 {% elseif  emission.categorie.thumbnail %}
                                <img src="{{ vich_uploader_asset(emission.categorie, 'thumbnailFile', 'App\\Entity\\Categories') }}" alt="Photo de {{ emission.titre }}">
                                {% endif %}
                                    {{ emission.descriptif }}
                                </p>
                                <p>
                                    <a href="{{ emission.url }}">
                                        Écoutez l'émission
                                    </a>
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(emissions) }}
    </div>
    {% endblock %}
    