<style>
    .footer {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        background: #1C1C1A;
        background-size: 100%;
        color: white;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 0;
        flex-shrink: 0;
        width: 100%;
  
    }
    .footer a {
        text-decoration: none;
        color: white;
    }

    .footer a:hover {
        text-decoration: none;
        color: #E40039;
    }
    .footer div {
        margin: 20px;
    }
</style>
<div class='footer'>
    <div>
        Radio Zinzine Saint Hippolyte F-04300 Limans v1.0.20
    </div>
    <div>
        <a class="btn btn-primary btn-sm" href="{{ path('contacts') }}">
        Contacts
    </a>
    </div>
    <div>
        <a class="btn btn-primary btn-sm" href="{{ path('mentions') }}">
        Mentions légales
    </a>
    </div>
    <div>
        <a class="btn btn-primary btn-sm" href="{{ path('amis') }}">
        Sites amis
    </a>
    </div>
    <div>
        <a class="btn btn-primary btn-sm" href="{{ path('aide') }}">
        Aide à l'écoute
    </a>
    </div>
    <div>
        <a class="btn btn-primary btn-sm" href="{{ path('zone') }}">
            Zone d'écoute
        </a>
    </div>
    <div>
        <a class="btn btn-primary btn-sm" href="{{ path('admin.index') }}">
            Admin
        </a>
    </div>
</div>
