<style>
    @media screen and (min-width: 1024px) {
        
    
    .bodylast {
    background: linear-gradient(#E4013A, #B81C61);
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.bodylast h1, .bodylast h3 {
    color: white;
    text-align: center;
}

.bodylast h1 {
    font-size: 36pt;
}

.bodylast h3 {
    font-size: 24pt;
}
  
/* Grid adaptable */
.bodylast article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Cartes */
.bodylast .carte {
    background-color: black;
    width: 100%;
    max-width: 350px;
    height: 300px; /* Définir une hauteur fixe pour forcer l'affichage de l'image */
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden; /* Peut être conservé ou ajusté selon tes besoins */
}

/* Texte et éléments internes */
.bodylast .categorie, .bodylast .titre, .bodylast .date {
    margin: 10px;
    text-align: center;
}

.bodylast .theme {
    background-color: #7E4095;
    padding: 8px;
    color: white;
    font-weight: bold;
}

/* Icône d'écoute */
.bodylast .ecoute img {
    width: 30px;
}

.bodylast article {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr)); /* 3 cartes par ligne */
    grid-auto-flow: row dense; /* Force le remplissage correct des lignes */
    grid-auto-rows: auto;
    gap:  60px 100px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

    .bodylast .carte {
        
        display: block;
        background-color: black;
        width: 350px;
        height: 300px;
        position: relative;
        flex-direction: row;
      
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .bodylast .carte:hover {
    transform: translateY(-5px); /* Légère élévation */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Ombre plus marquée */
}

    .bodylast .categorie {
        
        background-color: #35BAC0;
        font-family: "Source Code Pro", monospace;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 16px;
        font-style: normal;
        color: white;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -10px;
        padding: 5px;
        text-align: center;
    }

  .bodylast .titre {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 25px;
        font-style: normal;
        color: white;
        text-wrap: balance;
        margin-left: 20px;
        margin-right: 20px;
        padding: 5px;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: black;
      
    }
    .bodylast .titre p {
        display: -webkit-box;
        -webkit-line-clamp: 2;      /* 👉 Limite à 2 lignes */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;    /* 👉 Affiche "…" si le texte déborde */
        }

    .bodylast .date {
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        color: white;
        margin-left: 20px;
    }


    .bodylast .ecoute {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .bodylast .ecoute img {
        width: 40px;
    }

    .bodylast .ecoute a {
    display: inline-block;
    width: 40px;
    height: 40px;
}


    .bodylast .bottom img{
        width: 100%;
        margin-bottom: 0px;
        padding-bottom: 0px;
        
    }

    .bodylast .top img{
        width: 100%;
    }
    .bodylast .titrelast {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bodylast .titrelast img {
        all: unset;
        width: 150px;
        margin:0 60px;
        padding-bottom: 15px;
    }

    .bodylast a {
        text-decoration: none;
    }
    .bodylast .shadow {
        width: 70px;
        position: absolute;
        bottom: 0;
        right: 0;
        box-shadow: -8px 6px 20px 2px #000000;
    }

    .bodylast .theme {
        background-color: #7E4095;
        font-family: "Source Code Pro", monospace;
        text-align: center;
        font-size: 17px;
        margin: 0px;
        padding: 10px;
        color: white;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: black;
    }

    .bodylast .transparent {
        all: unset;
        width: 350px;
        height: 150px;
        position: absolute;
        bottom: 0;
        right: 0;
        max-height: 100%;
        background: rgba(163, 163, 142, 0.5) /* Grey background with 30% opacity */

    }
    }

   
   /* Responsive */
@media screen and (max-width: 1023px) {

.bodylast {
    background: linear-gradient(#E4013A, #B81C61);
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.bodylast .top img{
    width: 100%;
}
    /* Grid adaptable */
.bodylast article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 50px;
    padding: 20px;
    justify-content: center;
}

/* Cartes */
.bodylast .carte {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    max-width: 350px;
    height: auto;
    position: relative;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Texte et éléments internes */
.bodylast .categorie, .bodylast .titre, .bodylast .date {
    margin: 10px;
    text-align: center;
}

.bodylast .theme {
    background-color: #7E4095;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

/* Icône d'écoute */
.bodylast .ecoute {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.bodylast .ecoute a {
    display: inline-block;
    width: 40px;
    height: 40px;
}


.bodylast .ecoute img {
    width: 40px;
    transition: transform 0.3s;
}

.bodylast .ecoute img:hover {
    transform: scale(1.1);
}

 
}
    
    
</style>
<div class='bodylast'>
    <div>
        <div class="top">
            <img src="{{ asset('/images/bottom-header.gif') }}"></div>
            <div class="titrelast">
                <img src="{{ asset('/images/illu-radio-libre.gif') }}">
                    <div>
                        <h1>
                            ÉMISSIONS RÉCENTES
                        </h1>
                        <h3>
                            À réécouter
                        </h3>
                    </div>
                </div>
                <article>
                    {% for lastEmissionByGroupTheme in lastEmissionsByTheme %}
                        {% set bgImage = '' %}
                        {% if lastEmissionByGroupTheme.theme_thumbnail is not empty %}
                            {% set bgImage = asset('/uploads/images/theme/' ~ lastEmissionByGroupTheme.theme_thumbnail|url_encode) %}
                        {% else %}
                            {% set bgImage = asset('/uploads/images/emissions/emission-zinzine.jpg') %}
                        {% endif %}
                        <div class="carte" style="background-image: url('{{ bgImage }}'); background-size: cover; background-repeat: no-repeat;">
                            <div class="theme">
                                <p>
                                    {{ lastEmissionByGroupTheme.theme_group | default('') | upper }}
                                </p>
                            </div>
                            <a href="{{ path('emission.show', {id: lastEmissionByGroupTheme.emission_id}) }}" style="text-decoration: none;">
                                <div class="transparent">
                                    <div class="categorie">
                                        <p>
                                            {{ lastEmissionByGroupTheme.categorie_titre | upper }}
                                        </p>
                                    </div>
                                    <div class="titre">
                                        <p>
                                            {{ lastEmissionByGroupTheme.emission_titre }}
                                        </p>
                                    </div>
                                    <div class="date">
                                        <p>
                                            Le
                                            {{ lastEmissionByGroupTheme.last_diffusion | format_datetime('medium', 'short', locale='fr') }}
                                        </p>
                                    </div>
                                    <div class="ecoute">
                                        <a href="{{ lastEmissionByGroupTheme.emission_url }}" target="_blank" aria-label="Écouter l'émission">
                                            <img src="{{ asset('/images/lecteur.png') }}" alt="Écoutez l'émission"></a>
                                        </div>
                                    </div>
                                </a>
                                <div class="shadow"></div>
                            </div>
                        {% endfor %}
                    </article>
                </div>
                <img class="bottom" src="{{ asset('/images/top-content-dechire-D.gif') }}"></div>
                