<style>
    @media screen and (min-width: 1024px) {
        
    
    .bodylast {
    background: linear-gradient(#E4013A, #B81C61);
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.bodylast h1, .bodylast h3 {
    color: white;
    text-align: center;
}

.bodylast h1 {
    font-size: 28pt;
}

.bodylast h3 {
    font-size: 18pt;
}
  
/* Grid adaptable */
article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Cartes */
.carte {
    background-color: black;
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

/* Texte et éléments internes */
.categorie, .titre, .date {
    margin: 10px;
    text-align: center;
}

.theme {
    background-color: #7E4095;
    padding: 8px;
    color: white;
    font-weight: bold;
}

/* Icône d'écoute */
.ecoute img {
    width: 30px;
}

article {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr)); /* 3 cartes par ligne */
    grid-auto-flow: row dense; /* Force le remplissage correct des lignes */
    grid-auto-rows: auto;
    gap:  60px 100px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

    .carte {
        
        display: block;
        background-color: black;
        width: 350px;
        height: 300px;
        position: relative;
        flex-direction: row;
      
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .carte:hover {
    transform: translateY(-5px); /* Légère élévation */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Ombre plus marquée */
}

    .categorie {
        
        background-color: #35BAC0;
        font-family: "Source Code Pro", monospace;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 16px;
        font-style: normal;
        color: white;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -10px;
        padding: 5px;
        text-align: center;
    }

    .titre {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 25px;
        font-style: normal;
        color: white;
        text-wrap: balance;
        margin-left: 20px;
        margin-right: 20px;
        padding: 5px;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: black;
      
    }

    .date {
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        color: white;
        margin-left: 20px;
    }


    .ecoute {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .ecoute img {
        width: 40px;
    }

    .bottom img{
        width: 100%;
        margin-bottom: 0px;
        padding-bottom: 0px;
        
    }

    .top img{
        width: 100%;
    }
    .titrelast {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titrelast img {
        all: unset;
        width: 150px;
        margin-right: 10px;
        padding-bottom: 15px;
    }

    a {
        text-decoration: none;
    }
    .shadow {
        width: 70px;
        position: absolute;
        bottom: 0;
        right: 0;
        box-shadow: -8px 6px 20px 2px #000000;
    }

    .theme {
        background-color: #7E4095;
        font-family: "Source Code Pro", monospace;
        text-align: center;
        font-size: 17px;
        margin: 0px;
        padding: 10px;
        color: white;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: black;
    }

    .transparent {
        all: unset;
        width: 350px;
        height: 150px;
        position: absolute;
        bottom: 0;
        right: 0;
        max-height: 100%;
        background: rgba(163, 163, 142, 0.5) /* Grey background with 30% opacity */

    }
    }

   
   /* Responsive */
@media screen and (max-width: 1023px) {

.bodylast {
    background: linear-gradient(#E4013A, #B81C61);
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.top img{
    width: 100%;
}
    /* Grid adaptable */
article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 50px;
    padding: 20px;
    justify-content: center;
}

/* Cartes */
.carte {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    max-width: 350px;
    height: auto;
    position: relative;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Texte et éléments internes */
.categorie, .titre, .date {
    margin: 10px;
    text-align: center;
}

.theme {
    background-color: #7E4095;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

/* Icône d'écoute */
.ecoute {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.ecoute img {
    width: 40px;
    transition: transform 0.3s;
}

.ecoute img:hover {
    transform: scale(1.1);
}

 
}
    
    
</style>
<div class='bodylast'>
    <div>
        <div class="top">
            <img src="{{ asset('/images/bottom-header.gif') }}">
        </div>
            <div class="titrelast">
                <img src="{{ asset('/images/illu-radio-libre.gif') }}">
                    <div>
                        <h1>
                            ÉMISSIONS RÉCENTES
                        </h1>
                        <h3>
                            À réécouter
                        </h3>
                    </div>
            </div>
                <article>
                    
                    {% for lastEmissionByTheme in lastEmissionsByTheme %}
                        {% if lastEmissionByTheme.emission_thumbnail %}
                    
                            <div class='carte' style="background-image: url('https://localhost:8000/images/emissions/{{ lastEmissionByTheme.emission_thumbnail }}');background-size: cover;background-repeat: no-repeat;">
                        {% elseif lastEmissionByTheme.categorie_thumbnail %}
                            <div class='carte' style="background-image: url('https://localhost:8000/images/categories/{{ lastEmissionByTheme.categorie_thumbnail }}');background-size: cover;background-repeat: no-repeat;">
                        {% elseif lastEmissionByTheme.theme_thumbnail | default ('') %}
                            <div class='carte' style="background-image: url('https://localhost:8000/images/theme/{{ lastEmissionByTheme.theme_thumbnail }}');background-size: cover;background-repeat: no-repeat;">
                         {% else %}
                         <div class='carte' style="background-image: url('https://localhost:8000/images/emissions/fondcarte.jpg');background-size: cover;background-repeat: no-repeat;">
                        {% endif %}
                    <a href="{{ path('emission.show', {id: lastEmissionByTheme.emission_id }) }}">
                    <div class="theme">
                    <p>
                    {{ lastEmissionByTheme.theme_name | default ('') | upper }}
                    </p>
                
                    </div>
                    <div class="transparent">
                        
                                <div class='categorie'>
                                    <p>
                                        
                                        {{ lastEmissionByTheme.categorie_titre | upper }}
                                    </p>
                                </div>
                                <div class='titre'>
                                    <p>
                                        {{ lastEmissionByTheme.emission_titre }}
                                    </p>
                                </div>
                                <div class='date'>
                                    <p>
                                        {{ "Le " ~ lastEmissionByTheme.emission_datepub| format_datetime ('medium', 'short', locale = 'fr') }}
                                    </p>
                                </div>
                                <div class='ecoute'>
                                    <p>
                                        <a href="{{ lastEmissionByTheme.emission_url }}">
                                        <img src="{{ asset('/images/lecteur.png') }}" alt="écoutez l'émission">
                                        </a>
                                    </p>
                                </div>
                            </a>
                        <div class="shadow"></div>
                    </div>
                </div>
                    {% endfor %}
                </article>
    </div>
                <img class="bottom" src="{{ asset('/images/top-content-dechire-D.gif') }}">
</div>
                