<style>
    .bodylast {
        background: linear-gradient(#E4013A, #B81C61);
        background-size: 100%;
        width: 100%;
        margin: 0%;
        padding: 0%;
       display: flex;
       flex-direction: column;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 700;
        font-style: normal;
        }

        .bodylast h1 {
        color:white;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 900;
        font-style: normal;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 36pt;
    }
    .bodylast h3 {
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 300;
        font-style: normal;
        justify-content: center;
        text-align: center;
        color:white;
        font-size: 24pt;
    }

    article {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: auto;
        margin:auto;
        
    
    }

    .carte {
        display: block;
        background-color: black;
        width: 350px;
        height: 280px;
        
        position: relative;
        flex-direction: row;
        box-shadow: 8px 8px 12px #aaa;
        margin:50px 100px;
        
        
    
    }
    .categorie {
        background-color: #35BAC0;
        font-family: "Source Code Pro", monospace;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 14px;
        font-style: normal;
        color: white;
        text-align: left;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 60px;
    }

    .titre {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 12px;
        font-style: normal;
        color: white;
        margin-left: 20px;
        margin-right: 20px;
    }

    .date {
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        color: white;
        margin-left: 20px;
    }


    .ecoute {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .ecoute img {
        width: 40px;
    }

    .bottom img{
        width: 100%;
        margin-bottom: 0px;
        padding-bottom: 0px;
        
    }

    .top img{
        width: 100%;
    }
    .titrelast {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titrelast img {
        all: unset;
        width: 150px;
        margin-right: 10px;
        padding-bottom: 15px;
    }


  
    
    
</style>
{#   @media (min-width: 480px) {
    h1 {
    color: black;
    }
} #}
<div class='bodylast'>
    <div>
        <div class="top">
            <img src="{{ asset('/images/bottom-header.gif') }}">
        </div>
            <div class="titrelast">
                <img src="{{ asset('/images/illu-radio-libre.gif') }}">
                    <div>
                        <h1>
                            ÉMISSIONS RÉCENTES
                        </h1>
                        <h3>
                            À réécouter
                        </h3>
                    </div>
            </div>
                <article>
                    {% for lastEmission in lastEmissions %}
                        <div class='carte' style="background-image: url('https://localhost:8000/images/emissions/{{ lastEmission.thumbnail }}');background-size: cover;background-repeat: no-repeat;">
                            <a href="{{ path('emission.show', {id: lastEmission.id }) }}">
                                <div class='categorie'>
                                    <p>
                                        {{ lastEmission.categorie.titre | upper }}
                                    </p>
                                </div>
                                <div class='titre'>
                                    <p>
                                        {{ lastEmission.titre | upper }}
                                    </p>
                                </div>
                                <div class='date'>
                                    <p>
                                        {{ lastEmission.datepub|date('d-m-Y') }}
                                    </p>
                                </div>
                                <div class='ecoute'>
                                    <p>
                                        <a href="{{ lastEmission.url }}">
                                        <img src="{{ asset('/images/lecteur.gif') }}" alt="écoutez l'émission">
                                        </a>
                                    </p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </article>
    </div>
                <img class="bottom" src="{{ asset('/images/top-content-dechire-D.gif') }}">
</div>
                